{% extends 'base.html.twig' %}

{% block title %}Hello ClienteController!{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="main-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Nombre y Apellidos</h6>
                                </div>
                                <div class="col-sm-6 text-secondary">
                                    Kenneth Valdez
                                </div>
                                <div class="col-sm-3">
                                    <a class="btn btn-info " target="__blank" href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Edit</a>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    fip@jukmuh.al
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Teléfono</h6>
                                </div>
                                <div class="col-sm-3 text-secondary">
                                    (239) 816-9029
                                </div>

                                <div class="col-sm-3">
                                    <h6 class="mb-0">DNI</h6>
                                </div>
                                <div class="col-sm-3 text-secondary">
                                    (320) 380-453911111
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Dirección</h6>
                                </div>
                                <div class="col-sm-3 text-secondary">
                                    Bay Area, San Francisco, CA
                                </div>
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Código Postal</h6>
                                </div>
                                <div class="col-sm-3 text-secondary">
                                    (320) 380-4539
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 mb-3">

                    <div class="table-responsive">
                        <table class="table caption-top">
                            <caption>
                                <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i>Historial del pedido</h6>
                            </caption>
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
